.contain{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

/* table{
    position: absolute;
    top:0px; 
    left: 0px;
    right: 0px;
    font-style: normal;
    padding: 0px;
    margin: 0px;
    background-color: rgb(21, 8, 92);
    height: 10vh;

} */

#head{
    background-color:rgb(0, 0, 0); 
    height: auto;
    border: 0px;
    margin: 0px;
    top: 0px;
    margin-top: 40px;
    
}
body{
    background-color: black;
}


  #and{ 
    color: white;
}
#the{
    color: white;
}
#you{
    color: white;
}
#the1{
    color: white;
}
#cool{
    color: white;
}

.navbar{
    height: 0px;
    width: 100vw;
    left: 0px;
    position:sticky;
    top: 0px;
    right: 0px;
}
.img{
    position: absolute;
    top: 70px;
    height: 100vh;
    right: 0px;
}
.heading{
    position: absolute;
    top: 150px;
    left: 200px;
    color:whitesmoke;
}
.img2{
    position: absolute;
    top: 137px;
    left:90px;
    border-radius: 40%;
   
}
.you{
    position: absolute;
    top: 230px;
    left: 120px;
    color:whitesmoke;
}
.btn3{
    position:fixed;
    top: 350px;
    left: 300px;
    color: aliceblue;
    width: 150px;
    border-radius: 67px;
    height: 40px;
}
.btn-outline-success{
    border-color: rgb(24, 2, 44);
    
}
.button:hover{
    color: blue;
    
    
}

h1{
    color: black;
}
.dropdown1{
    position: fixed;
    top: 10px;
    right:100px;
    color: black;
}
.dropdown-menu{
    color: black;
}
.offcanvas-header{
    position: fixed;
    bottom: 0px;


}
.offcanvas-title{
    position: fixed;
    top: 10px;
}
.btn btn-outline-secondary{
    background-color: black;
}
.form-control{
    
}
